/Lab_2/nbproject/private/
/Lab_2/build/
/Assignment_2/nbproject/private/
/Lab2.5/Lab2.5/build/
/Lab2.5/Lab2.5/nbproject/private/
/Lab2.5/build/
/Assignment_2/build/
/Assignment2_part1/nbproject/private/
/Assignment2_part1/build/
/Assignment2_part1/dist/
/Assignment_2Part_2/nbproject/private/
/Assignment2_Part_2/nbproject/private/
/Assignment2_Part_2/build/